
<!-- Blog Post -->
<div class="card mb-4">
    @if(post.PostType == PostType.Event)
    {
        <div class="card-header">
            Date of event: @post.DateOfEvent
        </div>
    }
    @if(post.ImageLink == null || post.ImageLink == String.Empty)
    {
        <img class="card-img-top" src="/img/post_placeholder.gif" width="750" />
    }
    else
    {
        <img class="card-img-top" src="@post.ImageLink" width="750" />
    }
    <div class="card-body">
        <h2 class="card-title">@post.Name</h2>
        <p class="card-text">
        @((MarkupString)@post.Content)
        </p>
        <a href="post/@post.Id" class="btn btn-primary">Read More &rarr;</a>
        <div style="float: right"><i class="mdi mdi-forum"> : @post.Coments.Count()</i>
</div>
    </div>
    <div class="card-footer text-muted">
        Posted on @post.Date by
        <a href="user/@post.UserId">@post.UserName</a>
        on thread <a href="thread/@post.ThreadId">@post.ThreadName</a>
        <div style="float: right">Votes: @post.Rating</div>
    </div>
</div>

@code {
    [Parameter]
    public PostResponse post { get; set; }

}
